Repository hanhae-plus-be-fifteen-team/assignments, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hanhae-plus-be-fifteen-team/developer, @JeHwanYoo, @shpark-personal, @SGKwon95, @JHKANG9140

[#1] test: mocking을 사용한 charge, use 에러 발생 테스트
  jeonghyo/week-1/src/point/point.service.spec.ts
  jeonghyo/week-1/src/point/point.service.ts
Owners: @JHKANG9140

test : 아이디별 포인트 조회
  jeonghyo/week-1/src/point/point.module.ts
  jeonghyo/week-1/src/point/point.service.spec.ts
Owners: @JHKANG9140

[#1] refactor: historyDb.insert 비동기로 실행
  jeonghyo/week-1/src/point/point.service.spec.ts
  jeonghyo/week-1/src/point/point.service.ts
  jeonghyo/week-1/src/point/queue.ts
Owners: @JHKANG9140

[#1] refactor: history insert 실패시 재시도
  jeonghyo/week-1/src/point/point.service.spec.ts
  jeonghyo/week-1/src/point/point.service.ts
Owners: @JHKANG9140

[#1] refactor: type, amount 한번에 비교
  jeonghyo/week-1/src/point/point.service.spec.ts
Owners: @JHKANG9140

test : 포인트 사용
  jeonghyo/week-1/src/point/point.service.spec.ts
Owners: @JHKANG9140

feat: service 기능 구현
  jeonghyo/week-1/src/point/point.controller.ts
  jeonghyo/week-1/src/point/point.module.ts
  jeonghyo/week-1/src/point/point.service.spec.ts
  jeonghyo/week-1/src/point/point.service.ts
Owners: @JHKANG9140

test : 충전/사용 내역 조회
  jeonghyo/week-1/src/point/point.service.spec.ts
Owners: @JHKANG9140

test : 순차 실행
  jeonghyo/week-1/src/point/point.service.spec.ts
Owners: @JHKANG9140

test : 포인트 충전
  jeonghyo/week-1/src/point/point.service.spec.ts
Owners: @JHKANG9140

[#1] chore: reduce ignore
  .gitignore
Owners: @hanhae-plus-be-fifteen-team/developer

[#2] init: project
  jehwan/week-2/.eslintrc.js
  jehwan/week-2/.gitignore
  jehwan/week-2/.prettierrc
  jehwan/week-2/README.md
  jehwan/week-2/nest-cli.json
  jehwan/week-2/package.json
  jehwan/week-2/pnpm-lock.yaml
  jehwan/week-2/src/app.controller.spec.ts
  jehwan/week-2/src/app.controller.ts
  jehwan/week-2/src/app.module.ts
  jehwan/week-2/src/app.service.ts
  jehwan/week-2/src/main.ts
  jehwan/week-2/test/app.e2e-spec.ts
  jehwan/week-2/test/jest-e2e.json
  jehwan/week-2/tsconfig.build.json
  jehwan/week-2/tsconfig.json
Owners: @JeHwanYoo

[#2] init: project
  jeonghyo/week-2/.eslintrc.js
  jeonghyo/week-2/.gitignore
  jeonghyo/week-2/.prettierrc
  jeonghyo/week-2/README.md
  jeonghyo/week-2/nest-cli.json
  jeonghyo/week-2/package-lock.json
  jeonghyo/week-2/package.json
  jeonghyo/week-2/src/app.controller.spec.ts
  jeonghyo/week-2/src/app.controller.ts
  jeonghyo/week-2/src/app.module.ts
  jeonghyo/week-2/src/app.service.ts
  jeonghyo/week-2/src/main.ts
  jeonghyo/week-2/test/app.e2e-spec.ts
  jeonghyo/week-2/test/jest-e2e.json
  jeonghyo/week-2/tsconfig.build.json
  jeonghyo/week-2/tsconfig.json
Owners: @JHKANG9140

[#2] init: project
  soongyu/week-2/.eslintrc.js
  soongyu/week-2/.gitignore
  soongyu/week-2/.prettierrc
  soongyu/week-2/README.md
  soongyu/week-2/nest-cli.json
  soongyu/week-2/package-lock.json
  soongyu/week-2/package.json
  soongyu/week-2/src/app.controller.spec.ts
  soongyu/week-2/src/app.controller.ts
  soongyu/week-2/src/app.module.ts
  soongyu/week-2/src/app.service.ts
  soongyu/week-2/src/main.ts
  soongyu/week-2/test/app.e2e-spec.ts
  soongyu/week-2/test/jest-e2e.json
  soongyu/week-2/tsconfig.build.json
  soongyu/week-2/tsconfig.json
Owners: @SGKwon95

[#2] chore: remove unused code
  soongyu/week-2/src/app.controller.spec.ts
  soongyu/week-2/src/app.controller.ts
  soongyu/week-2/src/app.module.ts
  soongyu/week-2/src/app.service.ts
Owners: @SGKwon95

[#2] chore: add mysql
  soongyu/week-2/package-lock.json
  soongyu/week-2/package.json
Owners: @SGKwon95

[#2] chore: config typeorm
  soongyu/week-2/src/app.module.ts
Owners: @SGKwon95

[#1] chore: 동시성 테스트 환경 구성
  jehwan/week-1/src/database/footprint.table.ts
  jehwan/week-1/src/database/userpoint.table.ts
  jehwan/week-1/src/point/point.controller.ts
  jehwan/week-1/src/point/point.module.ts
  jehwan/week-1/src/point/point.service.spec.ts
  jehwan/week-1/src/point/point.service.ts
  jehwan/week-1/test/app.e2e-spec.ts
Owners: @JeHwanYoo

[#1] chore: 동시성 테스트 lock 직접 구현
  jehwan/week-1/package.json
  jehwan/week-1/src/point/locks.ts
  jehwan/week-1/src/point/point.controller.ts
  jehwan/week-1/src/point/point.module.ts
  jehwan/week-1/src/point/point.service.others.ts
Owners: @JeHwanYoo

[#1] chore: async-mutex 사용
  jehwan/week-1/src/point/point.controller.ts
  jehwan/week-1/src/point/point.module.ts
  jehwan/week-1/src/point/point.service.mutex.ts
Owners: @JeHwanYoo

[#2] chore: simply app
  jehwan/week-2/src/app.controller.spec.ts
  jehwan/week-2/src/app.controller.ts
  jehwan/week-2/src/app.module.ts
  jehwan/week-2/src/app.service.ts
  jehwan/week-2/test/app.e2e-spec.ts
Owners: @JeHwanYoo

[#1] test: Charge and Use user points concurrently - outcome depends on which request is handled first
  jehwan/week-1/test/app.e2e-spec.ts
Owners: @JeHwanYoo

[#1] refactor: Promise.all -> Promise.allSettled
  jehwan/week-1/test/app.e2e-spec.ts
Owners: @JeHwanYoo

[#1] test: Use the negative point
  jehwan/week-1/test/app.e2e-spec.ts
Owners: @JeHwanYoo

[#1] feat: add the validation for PointBody dto
  jehwan/week-1/src/point/point.dto.ts
Owners: @JeHwanYoo

[#1] test: Charge and Use user points concurrently - outcome depends on which request has the error (Network)
  jehwan/week-1/test/app.e2e-spec.ts
Owners: @JeHwanYoo

[#1] refactor: user level lock
  jehwan/week-1/src/point/point.service.ts
Owners: @JeHwanYoo

[#1] feat: implement the validation for the negative value
  jehwan/week-1/src/point/point.service.ts
Owners: @JeHwanYoo

[#1] refactor: getMaxPoint & getMinPoint
  jehwan/week-1/test/app.e2e-spec.ts
Owners: @JeHwanYoo

[#1] refactor: controller state verification to behavior verification using mocks
  jehwan/week-1/src/point/point.controller.spec.ts
Owners: @JeHwanYoo

[#1] test: Fail to charge if the point value is negative
  jehwan/week-1/src/point/point.service.spec.ts
Owners: @JeHwanYoo

[#1] refactor: use PointHistoryRepository and decouple with Table
  jehwan/week-1/src/point/point.module.ts
  jehwan/week-1/src/point/point.repository.ts
  jehwan/week-1/src/point/point.service.spec.ts
  jehwan/week-1/src/point/point.service.ts
Owners: @JeHwanYoo

[#1] fix: mock api
  jehwan/week-1/test/app.e2e-spec.ts
Owners: @JeHwanYoo

[#1] test: Concurrently PATCH/CHARGE and PATCH/USE
  jehwan/week-1/test/app.e2e-spec.ts
Owners: @JeHwanYoo

[#1] docs: retrospect
  jehwan/week-1/README.md
Owners: @JeHwanYoo

[#1] test(e2e): Charge the negative point
  jehwan/week-1/test/app.e2e-spec.ts
Owners: @JeHwanYoo

[#2] chore: add class-validator
  soongyu/week-2/package-lock.json
  soongyu/week-2/package.json
Owners: @SGKwon95

[#2] docs: update readme, erd.png
  soongyu/week-2/ERD.png
  soongyu/week-2/README.md
Owners: @SGKwon95

[#2] chore: install async-mutex
  jehwan/week-1/package-lock.json
  jehwan/week-1/package.json
Owners: @JeHwanYoo

[#2] refactor: use mutex
  jehwan/week-1/src/point/point.service.ts
Owners: @JeHwanYoo

.github/CODEOWNERS:

* @hanhae-plus-be-fifteen-team/developer

/jehwan/ @JeHwanYoo
/sohee/ @shpark-personal
/soongyu/ @SGKwon95
/jeonghyo/ @JHKANG9140
