Repository hanhae-plus-be-fifteen-team/assignments, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hanhae-plus-be-fifteen-team/developer, @JeHwanYoo, @shpark-personal, @SGKwon95, @JHKANG9140

[#1] feat : naive 기능 구현
  sohee/week-1/src/point/point.controller.ts
  sohee/week-1/src/point/point.service.ts
Owners: @shpark-personal

[#1] chore : prettier
  sohee/week-1/.prettierrc
Owners: @shpark-personal

[#1] test: mocking을 사용한 charge, use 에러 발생 테스트
  jeonghyo/week-1/src/point/point.service.spec.ts
  jeonghyo/week-1/src/point/point.service.ts
Owners: @JHKANG9140

[#1] : chore : provider 추가
  sohee/week-1/src/point/point.module.ts
  sohee/week-1/src/point/point.service.spec.ts
Owners: @shpark-personal

[#1] refactor: historyDb.insert 비동기로 실행
  jeonghyo/week-1/src/point/point.service.spec.ts
  jeonghyo/week-1/src/point/point.service.ts
  jeonghyo/week-1/src/point/queue.ts
Owners: @JHKANG9140

[#1] : test : table mock으로 변경
  sohee/week-1/src/point/point.service.spec.ts
Owners: @shpark-personal

[#1] : refactor : 비동기로 수정
  sohee/week-1/src/point/point.service.ts
Owners: @shpark-personal

[#1] : test : table mock으로 변경
  sohee/week-1/src/point/point.service.spec.ts
Owners: @shpark-personal

[#1] refactor: history insert 실패시 재시도
  jeonghyo/week-1/src/point/point.service.spec.ts
  jeonghyo/week-1/src/point/point.service.ts
Owners: @JHKANG9140

[#1] refactor: 순차처리 제어
  jeonghyo/week-1/src/point/point.service.spec.ts
  jeonghyo/week-1/src/point/point.service.ts
Owners: @JHKANG9140

[#1] test: Charge and Use user points concurrently - outcome depends on which request is handled first
  jehwan/week-1/test/app.e2e-spec.ts
Owners: @JeHwanYoo

[#1] refactor: user level lock
  jehwan/week-1/src/point/point.service.ts
Owners: @JeHwanYoo

[#1] refactor: use PointHistoryRepository and decouple with Table
  jehwan/week-1/src/point/point.module.ts
  jehwan/week-1/src/point/point.repository.ts
  jehwan/week-1/src/point/point.service.spec.ts
  jehwan/week-1/src/point/point.service.ts
Owners: @JeHwanYoo

[#1] test: Fail to charge if the point value is negative
  jehwan/week-1/src/point/point.service.spec.ts
Owners: @JeHwanYoo

[#1] test: Use the negative point
  jehwan/week-1/test/app.e2e-spec.ts
Owners: @JeHwanYoo

[#1] test(e2e): Charge the negative point
  jehwan/week-1/test/app.e2e-spec.ts
Owners: @JeHwanYoo

[#1] feat: implement the validation for the negative value
  jehwan/week-1/src/point/point.service.ts
Owners: @JeHwanYoo

[#1] test: Charge and Use user points concurrently - outcome depends on which request has the error (Network)
  jehwan/week-1/test/app.e2e-spec.ts
Owners: @JeHwanYoo

[#1] feat: add the validation for PointBody dto
  jehwan/week-1/src/point/point.dto.ts
Owners: @JeHwanYoo

[#1] refactor: Promise.all -> Promise.allSettled
  jehwan/week-1/test/app.e2e-spec.ts
Owners: @JeHwanYoo

[#1] refactor: controller state verification to behavior verification using mocks
  jehwan/week-1/src/point/point.controller.spec.ts
Owners: @JeHwanYoo

[#1] test: Concurrently PATCH/CHARGE and PATCH/USE
  jehwan/week-1/test/app.e2e-spec.ts
Owners: @JeHwanYoo

[#1] refactor: getMaxPoint & getMinPoint
  jehwan/week-1/test/app.e2e-spec.ts
Owners: @JeHwanYoo

[#1] fix: mock api
  jehwan/week-1/test/app.e2e-spec.ts
Owners: @JeHwanYoo

[#1] docs: retrospect
  jehwan/week-1/README.md
Owners: @JeHwanYoo

chore: change directory of point.service
  soongyu/week-1/src/app.module.ts
  soongyu/week-1/src/point/point.controller.ts
  soongyu/week-1/src/userpoint/userpoint.service.spec.ts
  soongyu/week-1/src/userpoint/userpoint.service.ts
Owners: @SGKwon95

chore: remove unused code
  soongyu/week-1/src/app.controller.spec.ts
  soongyu/week-1/src/app.controller.ts
  soongyu/week-1/src/app.module.ts
  soongyu/week-1/src/app.service.ts
Owners: @SGKwon95

feat: inject UserPointService
  soongyu/week-1/src/point/point.controller.ts
  soongyu/week-1/src/userpoint/userpoint.service.ts
Owners: @SGKwon95

feat: 사용자 포인트 이력 조회 기능 추가
  soongyu/week-1/src/point/point.service.spec.ts
  soongyu/week-1/src/point/point.service.ts
Owners: @SGKwon95

chore: eslintrc
  soongyu/week-1/.eslintrc.js
Owners: @SGKwon95

feat: 사용자 포인트 사용 기능 추가
  soongyu/week-1/src/point/point.service.spec.ts
  soongyu/week-1/src/point/point.service.ts
Owners: @SGKwon95

chore: prettier
  soongyu/week-1/.prettierrc
Owners: @SGKwon95

feat: generate UserPointService
  soongyu/week-1/src/app.module.ts
  soongyu/week-1/src/userpoint/userpoint.service.spec.ts
  soongyu/week-1/src/userpoint/userpoint.service.ts
Owners: @SGKwon95

feat: regenerate UserPointService
  soongyu/week-1/src/point/point.service.spec.ts
  soongyu/week-1/src/point/point.service.ts
Owners: @SGKwon95

feat: 사용자 포인트 충전 기능 추가
  soongyu/week-1/src/point/point.service.spec.ts
  soongyu/week-1/src/point/point.service.ts
Owners: @SGKwon95

chore: replace 'src' to '..'
  soongyu/week-1/src/database/pointhistory.table.ts
  soongyu/week-1/src/database/userpoint.table.ts
  soongyu/week-1/src/point/point.controller.ts
  soongyu/week-1/src/point/point.module.ts
Owners: @SGKwon95

feat: 사용자 포인트 조회 기능 추가
  soongyu/week-1/src/point/point.service.spec.ts
  soongyu/week-1/src/point/point.service.ts
Owners: @SGKwon95

[#1] refactor: charge, use 진행 중 에러 발생 시 원복
  jeonghyo/week-1/src/point/point.service.spec.ts
  jeonghyo/week-1/src/point/point.service.ts
  jeonghyo/week-1/test/app.e2e-spec.ts
Owners: @JHKANG9140

[#1] refactor: 순차처리 제어
  jeonghyo/week-1/src/point/point.service.spec.ts
  jeonghyo/week-1/src/point/point.service.ts
Owners: @JHKANG9140

[#1] refactor: 불필요한 beforeEach 삭제, 배열 항목 각각 비교 -> toMatchObject로 수정
  jeonghyo/week-1/src/point/point.service.spec.ts
Owners: @JHKANG9140

.github/CODEOWNERS:

* @hanhae-plus-be-fifteen-team/developer

/jehwan/ @JeHwanYoo
/sohee/ @shpark-personal
/soongyu/ @SGKwon95
/jeonghyo/ @JHKANG9140
