Repository hanhae-plus-be-fifteen-team/assignments, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hanhae-plus-be-fifteen-team/developer, @JeHwanYoo, @shpark-personal, @SGKwon95, @JHKANG9140

.github/CODEOWNERS:

* @hanhae-plus-be-fifteen-team/developer

/jehwan/ @JeHwanYoo
/sohee/ @shpark-personal
/soongyu/ @SGKwon95
/jeonghyo/ @JHKANG9140

[#1] fix: typo 10000 -> 100000
  jehwan/week-1/test/app.e2e-spec.ts
Owners: @JeHwanYoo

[#1] chore : prettier
  sohee/week-1/.prettierrc
Owners: @shpark-personal

[#1] feat : naive 기능 구현
  sohee/week-1/src/point/point.controller.ts
  sohee/week-1/src/point/point.service.ts
Owners: @shpark-personal

[#1] test : get by id
  sohee/week-1/src/point/point.service.spec.ts
Owners: @shpark-personal

[#1] test : setup
  sohee/week-1/src/point/point.service.spec.ts
Owners: @shpark-personal

[#1] feat : history에 update
  sohee/week-1/src/point/point.service.ts
Owners: @shpark-personal

[#1] test : get all history
  sohee/week-1/src/point/point.service.spec.ts
Owners: @shpark-personal

[#1] chore : cleanup
  sohee/week-1/src/database/userpoint.table.ts
  sohee/week-1/src/point/point.module.ts
  sohee/week-1/src/point/point.service.ts
Owners: @shpark-personal

[#1] test : use
  sohee/week-1/src/point/point.service.spec.ts
Owners: @shpark-personal

[#1] test : charge
  sohee/week-1/src/point/point.service.spec.ts
Owners: @shpark-personal

chore: prettier
  soongyu/week-1/.prettierrc
Owners: @SGKwon95

feat: service 기능 구현
  jeonghyo/week-1/src/point/point.controller.ts
  jeonghyo/week-1/src/point/point.module.ts
  jeonghyo/week-1/src/point/point.service.spec.ts
  jeonghyo/week-1/src/point/point.service.ts
Owners: @JHKANG9140

test : 아이디별 포인트 조회
  jeonghyo/week-1/src/point/point.module.ts
  jeonghyo/week-1/src/point/point.service.spec.ts
Owners: @JHKANG9140

test : 충전/사용 내역 조회
  jeonghyo/week-1/src/point/point.service.spec.ts
Owners: @JHKANG9140

test : 포인트 충전
  jeonghyo/week-1/src/point/point.service.spec.ts
Owners: @JHKANG9140

test : 포인트 사용
  jeonghyo/week-1/src/point/point.service.spec.ts
Owners: @JHKANG9140

chore: eslintrc
  soongyu/week-1/.eslintrc.js
Owners: @SGKwon95

test : 순차 실행
  jeonghyo/week-1/src/point/point.service.spec.ts
Owners: @JHKANG9140

feat: generate UserPointService
  soongyu/week-1/src/app.module.ts
  soongyu/week-1/src/userpoint/userpoint.service.spec.ts
  soongyu/week-1/src/userpoint/userpoint.service.ts
Owners: @SGKwon95

feat: inject UserPointService
  soongyu/week-1/src/point/point.controller.ts
  soongyu/week-1/src/userpoint/userpoint.service.ts
Owners: @SGKwon95

[#1] refactor: type, amount 한번에 비교
  jeonghyo/week-1/src/point/point.service.spec.ts
Owners: @JHKANG9140

[#1] refactor: 불필요한 beforeEach 삭제, 배열 항목 각각 비교 -> toMatchObject로 수정
  jeonghyo/week-1/src/point/point.service.spec.ts
Owners: @JHKANG9140

chore: change directory of point.service
  soongyu/week-1/src/app.module.ts
  soongyu/week-1/src/point/point.controller.ts
  soongyu/week-1/src/userpoint/userpoint.service.spec.ts
  soongyu/week-1/src/userpoint/userpoint.service.ts
Owners: @SGKwon95

chore: replace 'src' to '..'
  soongyu/week-1/src/database/pointhistory.table.ts
  soongyu/week-1/src/database/userpoint.table.ts
  soongyu/week-1/src/point/point.controller.ts
  soongyu/week-1/src/point/point.module.ts
Owners: @SGKwon95

chore: remove unused code
  soongyu/week-1/src/app.controller.spec.ts
  soongyu/week-1/src/app.controller.ts
  soongyu/week-1/src/app.module.ts
  soongyu/week-1/src/app.service.ts
Owners: @SGKwon95

feat: regenerate UserPointService
  soongyu/week-1/src/point/point.service.spec.ts
  soongyu/week-1/src/point/point.service.ts
Owners: @SGKwon95

feat: 사용자 포인트 조회 기능 추가
  soongyu/week-1/src/point/point.service.spec.ts
  soongyu/week-1/src/point/point.service.ts
Owners: @SGKwon95

feat: 사용자 포인트 충전 기능 추가
  soongyu/week-1/src/point/point.service.spec.ts
  soongyu/week-1/src/point/point.service.ts
Owners: @SGKwon95

feat: 사용자 포인트 사용 기능 추가
  soongyu/week-1/src/point/point.service.spec.ts
  soongyu/week-1/src/point/point.service.ts
Owners: @SGKwon95

feat: 사용자 포인트 이력 조회 기능 추가
  soongyu/week-1/src/point/point.service.spec.ts
  soongyu/week-1/src/point/point.service.ts
Owners: @SGKwon95

[#1] chore : setup
  sohee/week-1/package.json
Owners: @shpark-personal

[#1] refactor : beforeEach로 setup
  sohee/week-1/src/point/point.service.spec.ts
Owners: @shpark-personal

[#1] test : error 추가
  sohee/week-1/src/point/point.service.spec.ts
Owners: @shpark-personal

[#1] feat : 조회 error 추가
  sohee/week-1/src/point/point.service.ts
Owners: @shpark-personal

[#1] test : charge case 추가
  sohee/week-1/src/point/point.service.spec.ts
Owners: @shpark-personal

[#1] feat : charge error 추가
  sohee/week-1/src/point/point.service.ts
Owners: @shpark-personal

[#1] test : use 시 error case 추가
  sohee/week-1/src/point/point.service.spec.ts
Owners: @shpark-personal

[#1] feat : amount 음수 case 추가
  sohee/week-1/src/point/point.service.ts
Owners: @shpark-personal

[#1] chore : cleanup
  sohee/week-1/src/app.controller.spec.ts
  sohee/week-1/src/app.controller.ts
  sohee/week-1/src/app.module.ts
Owners: @shpark-personal

[#1] refactor: charge, use 진행 중 에러 발생 시 원복
  jeonghyo/week-1/src/point/point.service.spec.ts
  jeonghyo/week-1/src/point/point.service.ts
  jeonghyo/week-1/test/app.e2e-spec.ts
Owners: @JHKANG9140
